<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with JohnDoe landing page.">
    <meta name="author" content="Devcrud">
    <link  rel="icon" type="image/x-icon" href="/public/assets/imgs/favicon.webp" />
    <title>Keanu Reeves Official Website</title>
    <!-- DESCRIPTION -->
    <meta name="description" content="Keanu Reeves is an Actor, Director, Producer, Musician and Angel Investor">
    <!-- SEARCH KEYWORDS -->
    <meta name="keywords" content="Keanu Reeves, Keanu, Reeves, John Wick, John, Wick, Actor, Canada, Musician, Director, Producer, Artist, Official Website">
    <!-- font icons -->
    <link rel="stylesheet" href="/public/assets/vendors/themify-icons/css/themify-icons.css">
    <!-- Bootstrap + JohnDoe main styles -->
	<link rel="stylesheet" href="/public/assets/css/johndoe.css">
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">
    <header class="header">
        <img src="/public/assets/imgs/header.jpg" class="bgImg" alt="" srcset="">
        <div class="container">
            <div class="header-content">
                <h1 class="header-title">Keanu Reeves</h1>
                <h6 class="header-mono" > Actor, Director, Producer, and Philanthropist</h6>
                <a href="#contact">
                    <button class="btn btn-primary btn-rounded"><i class="ti-printer pr-2"></i>Contact</button>
                </a>
            </div>
        </div>
    </header>
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-white" data-spy="affix" data-offset-top="510">
        <div class="container">
            <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse mt-sm-20 navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a href="#" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="#about" class="nav-link">About</a>
                    </li>
                </ul>
                <ul class="navbar-nav brand">
                    <img src="/public/assets/imgs/avatar.jpg" alt="" class="brand-img">
                    <li class="brand-txt">
                        <h5 class="brand-title">Keanu Reeves</h5>
                        <div class="brand-subtitle">Actor | Artist</div>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="#portfolio" class="nav-link">Portfolio</a>
                    </li>
                    <li class="nav-item last-item">
                        <a href="#contact" class="nav-link">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div id="about" class="row about-section">
            <div class="col-lg-4 about-card">
                <h3 class="font-weight-light">Who am I ?</h3>
                <span class="line mb-5"></span>
                <h5 class="mb-3">A Canadian Actor, Director and Philanthropist</h5>
                <p class="mt-20">Born in Beirut, began acting in theatre productions, played a role in Bill & Ted's Excellent Adventure (1989), My Own Private Idaho (1991), The Matrix (1999), John Wick film series, beginning in 2014 and other movies. I have also directed movies like  Man of Tai Chi (2013), and I have other endeavours like pursued writing and philanthropy.</p>
                <!-- <button class="btn btn-outline-danger"><i class="icon-down-circled2 "></i>Download My CV</button> -->
            </div>
            <div class="col-lg-4 about-card">
                <h3 class="font-weight-light">Personal Info</h3>
                <span class="line mb-5"></span>
                <ul class="mt40 info list-unstyled">
                    <li><span>Full Name</span> : Keanu Charles Reeves</li>
                    <li><span>Birthdate</span> :  September 2, 1964</li>
                    <li><span>Email</span> : keanureevesverified@gmail.com</li>
                    <li><span>Address</span> :  9024 Thrasher Avenue, Los Angeles, CA 90069-1242.</li>
                </ul> 
            </div>
            <div class="col-lg-4 about-card">
                <h3 class="font-weight-light">My Expertise</h3>
                <span class="line mb-5"></span>
                <div class="row">
                    <div class="col-1 text-danger pt-1"><i class="ti-widget icon-lg"></i></div>
                    <div class="col-10 ml-auto mr-3">
                        <h6>Acting</h6>
                        <p class="subtitle">Acting is my major profession.</p>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-1 text-danger pt-1"><i class="ti-paint-bucket icon-lg"></i></div>
                    <div class="col-10 ml-auto mr-3">
                        <h6>Writing</h6>
                        <p class="subtitle">Written a comic book</p>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-1 text-danger pt-1"><i class="ti-stats-up icon-lg"></i></div>
                    <div class="col-10 ml-auto mr-3">
                        <h6>Director</h6>
                        <p class="subtitle">Directed Man of Tai Chi.</p>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="section bg-dark text-center">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-6 col-lg-3">
                    <div class="row ">
                        <div class="col-5 text-right text-light border-right py-3">
                            <div class="m-auto"><i class="ti-alarm-clock icon-xl"></i></div>
                        </div>
                        <div class="col-7 text-left py-3">
                            <h1 class="text-danger font-weight-bold font40">80+</h1>
                            <p class="text-light mb-1">Movies Acted</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="row">
                        <div class="col-5 text-right text-light border-right py-3">
                            <div class="m-auto"><i class="ti-layers-alt icon-xl"></i></div>
                        </div>
                        <div class="col-7 text-left py-3">
                            <h1 class="text-danger font-weight-bold font40">12</h1>
                            <p class="text-light mb-1">Movie Awards</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="row">
                        <div class="col-5 text-right text-light border-right py-3">
                            <div class="m-auto"><i class="ti-face-smile icon-xl"></i></div>
                        </div>
                        <div class="col-7 text-left py-3">
                            <h1 class="text-danger font-weight-bold font40">20+</h1>
                            <p class="text-light mb-1">Angel Investments</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="row">
                        <div class="col-5 text-right text-light border-right py-3">
                            <div class="m-auto"><i class="ti-heart-broken icon-xl"></i></div>
                        </div>
                        <div class="col-7 text-left py-3">
                            <h1 class="text-danger font-weight-bold font40">$2M+</h1>
                            <p class="text-light mb-1">philanthropy</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Portfolio Section -->
    <section class="section bg-custom-gray" id="portfolio">
        <div class="container">
            <h1 class="mb-5"><span class="text-danger">My</span> Portfolio</h1>
            <div class="portfolio">
                <!-- <div class="filters">
                    <a href="#" data-filter=".new" class="active">
                        Movies
                    </a>
                    <a href="#" data-filter=".advertising">
                        Advertising
                    </a>
                    <a href="#" data-filter=".branding">
                        Branding
                    </a>
                    <a href="#" data-filter=".web">
                        Web
                    </a>
                </div> -->
                <div class="portfolio-container"> 
                    <div class="col-md-6 col-lg-4 web new">
                        <div class="portfolio-item">
                            <img src="/public/assets/imgs/web-1.jpg" class="img-fluid" alt="Download free bootstrap 4 admin dashboard, free boootstrap 4 templates">
                            <div class="content-holder">
                                <a class="img-popup" href="/public/assets/imgs/web-1.jpg"></a>
                                <div class="text-holder">
                                    <h6 class="title">John Wick Film Series</h6>
                                    <!-- <p class="subtitle">Expedita corporis doloremque velit in totam!</p> -->
                                </div>
                            </div>   
                        </div>             
                    </div>
                    <div class="col-md-6 col-lg-4 web new">
                        <div class="portfolio-item">
                            <img src="/public/assets/imgs/matrix.jpg" class="img-fluid" alt="Download free bootstrap 4 admin dashboard, free boootstrap 4 templates">
                            <div class="content-holder">
                                <a class="img-popup" href="/public/assets/imgs/matrix.jpg"></a>
                                <div class="text-holder">
                                    <h6 class="title">The Matrix</h6>
                                    <!-- <p class="subtitle">Expedita corporis doloremque velit in totam!</p> -->
                                </div>
                            </div> 
                        </div>                         
                    </div>
                    <div class="col-md-6 col-lg-4 advertising new">
                        <div class="portfolio-item">
                            <img src="/public/assets/imgs/contantine.jpg" class="img-fluid" alt="Download free bootstrap 4 admin dashboard, free boootstrap 4 templates">                         
                            <div class="content-holder">
                                <a class="img-popup" href="/public/assets/imgs/contantine.jpg"></a>
                                <div class="text-holder">
                                    <h6 class="title">Constantine</h6>
                                    <!-- <p class="subtitle">Expedita corporis doloremque velit in totam!</p> -->
                                </div>
                            </div>    
                        </div>              
                    </div> 
                    <div class="col-md-6 col-lg-4 web new">
                        <div class="portfolio-item">
                            <img src="/public/assets/imgs/speed.jpg" class="img-fluid" alt="Download free bootstrap 4 admin dashboard, free boootstrap 4 templates">
                            <div class="content-holder">
                                <a class="img-popup" href="/public/assets/imgs/speed.jpg"></a>
                                <div class="text-holder">
                                    <h6 class="title">Speed</h6>
                                    <!-- <p class="subtitle">Expedita corporis doloremque velit in totam!</p> -->
                                </div>
                            </div>
                        </div>                                                     
                    </div>

                    <div class="col-md-6 col-lg-4 new"> 
                        <div class="portfolio-item">
                            <img src="/public/assets/imgs/point.jpg" class="img-fluid" alt="Download free bootstrap 4 admin dashboard, free boootstrap 4 templates">                               
                            <div class="content-holder">
                                <a class="img-popup" href="/public/assets/imgs/point.jpg"></a>
                                <div class="text-holder">
                                    <h6 class="title">Point Break</h6>
                                    <!-- <p class="subtitle">Expedita corporis doloremque velit in totam!</p> -->
                                </div>
                            </div>
                        </div>                                                       
                    </div> 
                    <div class="col-md-6 col-lg-4 web new">
                        <div class="portfolio-item">
                            <img src="/public/assets/imgs/knock.jpg" class="img-fluid" alt="Download free bootstrap 4 admin dashboard, free boootstrap 4 templates">  
                           <div class="content-holder">
                                <a class="img-popup" href="/public/assets/imgs/knock.jpg"></a>
                                <div class="text-holder">
                                    <h6 class="title">Knock Knock</h6>
                                    <!-- <p class="subtitle">Expedita corporis doloremque velit in totam!</p> -->
                                </div>
                            </div>
                        </div>                                                     
                    </div>
                    <div class="col-md-6 col-lg-4 advertising new">
                        <div class="portfolio-item">
                            <img src="/public/assets/imgs/devil.jpg" class="img-fluid" alt="Download free bootstrap 4 admin dashboard, free boootstrap 4 templates">       
                           <div class="content-holder">
                                <a class="img-popup" href="/public/assets/imgs/devil.jpg"></a>
                                <div class="text-holder">
                                    <h6 class="title">Devil's Advocate</h6>
                                    <!-- <p class="subtitle">Expedita corporis doloremque velit in totam!</p> -->
                                </div>
                            </div>
                        </div>                                                       
                    </div> 
                    <div class="col-md-6 col-lg-4 advertising new"> 
                        <div class="portfolio-item">
                            <img src="/public/assets/imgs/bill.jpg" class="img-fluid" alt="Download free bootstrap 4 admin dashboard, free boootstrap 4 templates">            
                            <div class="content-holder">
                                <a class="img-popup" href="/public/assets/imgs/bill.jpg"></a>
                                <div class="text-holder">
                                    <h6 class="title">Bill and Ted's Excellent Adventure</h6>
                                    <!-- <p class="subtitle">Expedita corporis doloremque velit in totam!</p> -->
                                </div>
                            </div>
                        </div>
                                
                    </div> 
       
                </div> 
            </div>  
        </div>            
    </section>
    <!-- End of portfolio section -->

    <section class="section bg-dark py-5">
        <div class="container text-center">
            <h2 class="text-light mb-5 font-weight-normal">Want to meet Keanu Reeves?</h2>
            <button class="btn bg-primary w-lg" >Buy Ticket</button>
        </div>
    </section>

    <section class="section bg-custom-gray" id="price">
        <div class="container">
            <h1 class="mb-5"><span class="text-danger">Tickets</span> Pricing</h1>
            <div class="row align-items-center">
                <div class="col-md-6 col-lg-3">
                    <div class="price-card text-center mb-4">
                        <h3 class="price-card-title">Basic</h3>
                        <div class="price-card-cost">
                            <!-- <sup class="ti-money"></sup> -->
                            <span class="num">$700</span>
                        </div>
                        <ul class="list">
                            <li class="list-item">2 <span class="text-muted">days with Keanu Reeves</span></li>
                            <li class="list-item">Dinner <span class="text-muted">with Keanu Reeves</span></li>
                            <li class="list-item">Tour <span class="text-muted">of Disney Park with Keanu Reeves</span></li>
                            <li class="list-item">Games <span class="text-muted">with Keanu Reeves</span></li>
                        </ul>
                        <a href="/register"><button class="btn btn-primary btn-rounded w-lg">Buy Ticket</button></a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="price-card text-center price-card-requried mb-4">
                        <h3 class="price-card-title">Exclusive</h3>
                        <div class="price-card-cost">
                            <!-- <sup class="ti-money"></sup> -->
                            <span class="num">$1,500</span>
                            <!-- <span class="date">MO</span> -->
                        </div>
                        <ul class="list">
                            <li class="list-item">5 <span class="text-muted">days with Keanu Reeves</span></li>
                            <li class="list-item">Dinner  <span class="text-muted">and breakfast with Reeves</span></li>
                            <li class="list-item">Tour <span class="text-muted">of SeaWorld San Diego with Reeves</span></li>
                            <li class="list-item">Games <span class="text-muted">with Keanu Reeves</span></li>
                        </ul>
                        <a href="/register"><button class="btn btn-primary btn-rounded w-lg">Buy Ticket</button></a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="price-card text-center mb-4">
                        <h3 class="price-card-title">Pro</h3>
                        <div class="price-card-cost">
                            <span class="num">$3,000</span>
                        </div>
                        <ul class="list">
                            <li class="list-item">1 <span class="text-muted">week with Keanu Reeves</span></li>
                            <li class="list-item">Breakfast,  <span class="text-muted">Launch and Dinner with Reeves</span></li>
                            <li class="list-item">Tour <span class="text-muted">of Univeral Studios Hollywood with Reeves</span></li>
                            <li class="list-item">Tour <span class="text-muted">of Disneyland Resort with Reeves</span></li>
                            <li class="list-item">Games <span class="text-muted">with Keanu Reeves</span></li>
                        </ul>
                        <a href="/register"><button class="btn btn-primary btn-rounded w-lg">Buy Ticket</button></a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="price-card text-center mb-4">
                        <h3 class="price-card-title">Plus</h3>
                        <div class="price-card-cost">
                            <span class="num">$5,000</span>
                        </div>
                        <ul class="list">
                            <li class="list-item">12 <span class="text-muted">Days with Keanu Reeves</span></li>
                            <li class="list-item">Breakfast,  <span class="text-muted">Launch and Dinner with Reeves</span></li>
                            <li class="list-item">Tour <span class="text-muted">of Univeral Studios Hollywood with Reeves</span></li>
                            <li class="list-item">Tour <span class="text-muted">of Castle Park with Reeves</span></li>
                            <li class="list-item">Tour <span class="text-muted">of any place in California of your choice with Reeves</span></li>
                            <li class="list-item">Interview <span class="text-muted">Keanu Reeves</span></li>
                            <li class="list-item">Games <span class="text-muted">with Keanu Reeves</span></li>
                        </ul>
                        <a href="/register"><button class="btn btn-primary btn-rounded w-lg">Buy Ticket</button></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- CONTACT SECTION -->
    <div class="section contact" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="contact-form-card">
                        <h4 class="contact-title">Send a message</h4>
                        <form class="thisForm" action="">
                            <div class="form-group">
                                <input name="name" class="form-control fullName" type="text" placeholder="Name *" required>
                            </div>
                            <div class="form-group">
                                <input name="user_email" class="form-control userEmail" type="email" placeholder="Email *" required>
                            </div>
                            <div class="form-group">
                                <input name="phone" class="form-control phoneNo" type="text" placeholder="Phone Number *" required>
                            </div>
                            <div class="form-group">
                                <textarea name="message" class="form-control messageText" placeholder="Message *" rows="3" required></textarea>
                            </div>
                            <div class="form-group ">
                                <button type="submit" class="form-control btn btn-primary submitBtn" >Send Message</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="contact-info-card">
                        <h4 class="contact-title">Get in touch</h4>
                        <div class="row mb-2">
                            <div class="col-1 pt-1 mr-1">
                                <i class="ti-mobile icon-md"></i>
                            </div>
                            <div class="col-10 ">
                                <h6 class="d-inline">Full Name : <br> <span class="text-muted">Keanu Charles Reeves</span></h6>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-1 pt-1 mr-1">
                                <i class="ti-map-alt icon-md"></i>
                            </div>
                            <div class="col-10">
                                <h6 class="d-inline">Address :<br> <span class="text-muted">9024 Thrasher Avenue, Los Angeles, CA 90069-1242.</span></h6>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-1 pt-1 mr-1">
                                <i class="ti-envelope icon-md"></i>
                            </div>
                            <div class="col-10">
                                <h6 class="d-inline">Email :<br> <span class="text-muted">keanureevesverified@gmail.com</span></h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- FOOTER SECTION -->
    <footer class="footer py-3">
        <div class="container">
            <p class="small mb-0 text-light">
                &copy; <script>document.write(new Date().getFullYear())</script><span class="text-danger" title="Bootstrap 4 Themes and Dashboards"> Keanu Charles Reeves</span></a> 
            </p>
        </div>
    </footer>

	<!-- core  -->
    <script src="/public/assets/vendors/jquery/jquery-3.4.1.js"></script>
    <script src="/public/assets/vendors/bootstrap/bootstrap.bundle.js"></script>

    <!-- bootstrap 3 affix -->
    <script src="/public/assets/vendors/bootstrap/bootstrap.affix.js"></script>

    <!-- Isotope  -->
    <script src="/public/assets/vendors/isotope/isotope.pkgd.js"></script>
    
    <!-- Google mpas -->
    <!-- <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCtme10pzgKSPeJVJrG1O3tjR6lk98o4w8&callback=initMap"></script> -->

    <!-- JohnDoe js -->
    <script src="/public/assets/js/johndoe.js"></script>
    <!-- EMAIL JS -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js">
	</script>
	<script type="text/javascript">
		
				(function () {
					emailjs.init("user_GZoXBKzJqzFLxxYVoFFk0");
				})();
	</script>
	<script>
		
		const form = document.querySelector(".thisForm")
		const userEmail = document.querySelector(".userEmail")
		const fullName = document.querySelector(".fullName")
		const phoneNo = document.querySelector(".phoneNo")
		// const messageSubject= document.querySelector(".messageSubject")
		const messageText = document.querySelector(".messageText")
		const submitBtn = document.querySelector(".submitBtn")

		form.addEventListener("submit", e => {
			e.preventDefault()
            submitBtn.innerHTML = "Sending..."
			emailjs.sendForm(      
			"service_s3uc3uw",
			"template_2n94gtm",
			form,
			"user_GZoXBKzJqzFLxxYVoFFk0"
		)
		.then(function (response) {
            submitBtn.innerHTML = "Send Message"
			console.log('SUCCESS!', response.status, response.text)
			fullName.value = ""
			phoneNo.value = ""
			// messageSubject.value = ""
			messageText.value = ""
			userEmail.value = ""
            window.alert("Message Successfully sent!!! You will recieve a feedback from Keanu Reeves shortly");

		}, function (err) {
			console.log('FAILED...', err);
            submitBtn.innerHTML = "Send Message";
            window.alert("Oops! An error occured while trying to send message");
		});
		})

	</script>

</body>
</html>
